# Variables de entorno para configuración del backend: base de datos, autenticación, APIs externas y correo
# Define credenciales y claves necesarias para el funcionamiento seguro de la aplicación
MONGODB_URI=
port=
JWT_SECRET=
GOOGLE_MAPS_KEY=
GOOGLE_MAPS_PLACE_ID=
TWILIO_SID=
TWILIO_TOKEN=
EMAIL_USER=
EMAIL_PASS=